@charset "utf-8";

body{
    background-color: rgba(194,166,122,1.00);
}
.container .row {
    margin-top: 20px;
} 



.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(270deg,rgba(220,73,16,1.00) 0%,rgba(231,137,73,1.00) 29.53%,rgba(224,146,93,1.00) 64.25%,rgba(194,166,122,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(220,73,16,1.00) 0%,rgba(231,137,73,1.00) 29.53%,rgba(224,146,93,1.00) 64.25%,rgba(194,166,122,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(220,73,16,1.00) 0%,rgba(231,137,73,1.00) 29.53%,rgba(224,146,93,1.00) 64.25%,rgba(194,166,122,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(220,73,16,1.00) 0%,rgba(231,137,73,1.00) 29.53%,rgba(224,146,93,1.00) 64.25%,rgba(194,166,122,1.00) 100%);

}



footer{background-color: #111}

.container{
	width: 100%;
	padding: 70px 30px 20px
	
}



#social-icons{
	display: flex;
	justify-content: center;
	padding: 20px;
	
	
}

#social-icons a{
	text-decoration: none;
	padding: 10px;
	background-color: black;
	margin:10px;
	border-radius: 50%;
	
	
}

#social-icons a i{
	font-size: 2em;
	color: white;
	opacity: 0.9;
}

/*hover effects on social Media Icons*/

#social-icons a:hover {
	background-color: grey;
	transition:0.5;
}

#social-icons a:hover i{
	color:white;
	transition: 0.3;
}

.nav-tabs{
    border-bottom: none;
}
#nav-tabs{
    display: flex;
	justify-content: center;
	
}

#nav-tabs ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    
}



#nav-tabs ul li a:hover {
    opacity: 1;
	border: none;
    
}

#footerBottom {
	width: 100%;
    background-color: #000;
    padding: 25px;
    text-align: center;
}

#footerBottom p {
        color: white;
    }

    .designer{
        opacity: 0.7;
        text-transform:uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0px 5px;
    }
.row .col-xl-12 h3 {
    text-align: center;
    
	
}
.container form {
	display: grid;
	gap:10px;
		width:50%;
	margin: auto;
	
		
}
.container form .btn.btn-primary.btn-lg {
	width: 50%;
	margin: auto;
}
.container form .formcheckbox {
	
	display: flex;
	align-items: center;
	gap:20px;
}
.container h3 {
	
	text-align: center;
	padding: 0 0 10px 0;
	
	
	
}


.formcheckbox input {
	transform: scale(1.5);
}
.header.container .navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light {
    padding-top: 30px;
    padding-bottom: 30px;
}
.container-fluid #carouselExampleIndicators1 {
    margin-top: -60px;
    margin-bottom: 15px;
}

.row .col-xl-12.main-header h4 {
    margin-top: 20px;
    padding-top: 5px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 0px;
	
}




.col-xl-2 h4 span {
	border-bottom: 1.5px solid black;
}








.row .col-xl-12 h4 {
    letter-spacing: 1px;
    text-align: center;
	padding: 10px;
	
		
}
.header-underline {border-bottom: 1px solid black;
}
.row .col-xl-4 .text-center {
    text-align: center;
    letter-spacing: 1px;
}
.container form .btn.btn-primary.btn-lg {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(270deg,rgba(237,133,30,1.00) 0%,rgba(242,240,235,1.00) 39.90%,rgba(216,212,204,1.00) 55.44%,rgba(233,116,14,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(237,133,30,1.00) 0%,rgba(242,240,235,1.00) 39.90%,rgba(216,212,204,1.00) 55.44%,rgba(233,116,14,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(237,133,30,1.00) 0%,rgba(242,240,235,1.00) 39.90%,rgba(216,212,204,1.00) 55.44%,rgba(233,116,14,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(237,133,30,1.00) 0%,rgba(242,240,235,1.00) 39.90%,rgba(216,212,204,1.00) 55.44%,rgba(233,116,14,1.00) 100%);
    
    margin-top: 10px;
	
  
	
}
#footerBottom .col-xl-12 p {
    text-align: center;
}

#button-subscribe {
	color: black;
	letter-spacing: 1px;
	border-bottom: 1px solid grey;
}







.row .col-xl-4 h4 {
    padding: 5px;
    text-align: center;
	letter-spacing: 1px;
}
.col-xl-4 figure figcaption {
    padding-top: 5px;

}


figure figcaption h7 {
    font-weight: 400;
}

.col-xl-12 h3 #donateheader {
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(0,0,0,1.00);
	
}
.col-xl-6 .text-center #donationformheader {
	letter-spacing: 1px;
	border-bottom: 1px solid rgba(0,0,0,1.00);
	
	
}


